<!DOCTYPE html> <!-- this always has to go first-->
{% extends 'rango/base.html' %}

{% load staticfiles %} 

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div>
        <h1>About Page</h1>
		<b>This tutorial has been put together by Ashleigh.</b>
		</div>
			<br> This is a static image</br>
			<!-- Image -->
			<img src="{% static "images/rango.jpg" %}"
				alt="Picture of Rango" /> 
				<!-- alt means that if the picture cannot be loaded then the text will be displayed instead. -->
			<p>
            <br> This is a media image <br>
			<!-- Image -->
			<img src="{{ MEDIA_URL }}cat.jpg"
				alt="Picture of a cat" /> 
			<p>
		</p>
	<hr>
{% endblock %}
