<!DOCTYPE html>
<html>
<head>
	<title>Rango</title>
</head>
<body>
	<div>
	{% if category %}
 		<h1>{{ category.name }}</h1>
 		{% if pages %}
 			<ul>
 			{% for page in pages %}
 				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
 			{% endfor %}
			 </ul>
 		{% else %}
 			<strong>No pages currently in category.</strong>
 		{% endif %}
 	{% else %}
 		The specified category does not exist!
 	{% endif %}
 	</div>
<div>
 	<!-- Link back to Index Page -->
			<a href="/rango/">Click here to return to homepage!</a><br />
		</div>
 </body>
 </html>